.swiper {
    width: 100%;
    height: 100%;
    padding: 4rem;
    z-index: 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    filter: contrast(10%);
    transition: all 300ms;
  }

  .swiper-slide img:hover{
    filter: contrast(100%);
  }

  .imgSwiper{
    background-color: transparent;
    padding: 0;
  }
  .imgSwiper .swiper-slide{
    background-color: transparent;
  }
  .imgSwiper .swiper-slide img{
    filter: contrast(100%);
  }

  .webDesigner{
    background-color: transparent;
    padding: 0;
    height: 50vh;
  }
  .webDesigner .swiper-slide-2{
    background-color: transparent;
  }
  .webDesigner .swiper-slide-2 img{
    filter: contrast(100%);
  }

